
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Button {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
}

.Button.Red {
    background-color: red;
}

.Button.Red:hover {
    background-color: salmon;
    color: black;
}